/* Adicione estilos conforme necessário */
h2 {
    color: #da1b1b;
  }
  button {
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  